#dashboard-page-body{
    background-image: url(https://images.unsplash.com/photo-1494783367193-149034c05e8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}

#dashboard-main-card{
    color: #000000d4;
    margin-left: 40px;
    margin-right: 40px;
    float:none;
    flex-direction: column;
    border-color: wheat;
    background-color: white;
    margin-bottom: 50px;
    height: 802px;
}

#edit-car-main-card{
    color: #000000d4;
    margin-left: 40px;
    margin-right: 40px;
    float:none;
    flex-direction: column;
    border-color: wheat;
    background-color: white;
    margin-bottom: 50px;
    height: fit-content;
}

#manager-edit-main-card{
    color: #000000d4;
    margin-left: 40px;
    margin-right: 40px;
    float:none;
    flex-direction: column;
    border-color: wheat;
    background-color: white;
    margin-bottom: 50px;
    height: fit-content;
}

#dashboard-header{
    background-color: #ffae00e0;
    font-weight: bold;
}

#dashboard-menu-nav{
    font-size: medium;
    border: 0 white;
    background-color: #ffae0087;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
}

#dashboard-menu-nav-card{
    padding: 0;
    font-size: inherit;
    text-align: inherit;
    border-radius: inherit;
    background-color: inherit;
    border-color: inherit;
}

#dashboard-menu-nav-card-users{
    padding: 0;
    font-size: inherit;
    text-align: inherit;
    border-radius: inherit;
    background-color: inherit;
    border-color: inherit;
}

#dashboard-menu-nav-card-managers{
    padding: 0;
    font-size: inherit;
    text-align: inherit;
    border-radius: inherit;
    background-color: inherit;
    border-color: inherit;
}

#dashboard-menu-nav-card-user{
    padding: 0;
    font-size: inherit;
    text-align: inherit;
    border-radius: inherit;
    background-color: inherit;
    border-color: inherit;
}

#dashboard-menu-nav-card-manager{
    padding: 0;
    font-size: inherit;
    text-align: inherit;
    border-radius: inherit;
    background-color: inherit;
    border-color: inherit;
}

#dashboard-menu-nav-card-actions{
    padding: 0;
    font-size: inherit;
    text-align: inherit;
    border-radius: inherit;
    background-color: inherit;
    border-color: inherit;
}

#dashboard-menu-nav-card-car{
    padding: 0;
    font-size: inherit;
    text-align: inherit;
    border-radius: inherit;
    background-color: inherit;
    border-color: inherit;
}

#dashboard-menu-nav-card-orders{
    padding: 0;
    font-size: inherit;
    text-align: inherit;
    border-radius: inherit;
    background-color: inherit;
    border-color: inherit;
}

#product-info-image{
    width: 150px;
    height: 90px;
}

#order-info-link{
    color: #000000d4;
    font-size: large;
    font-weight: bold;
}

#order-car-link{
    color: #000000d4;
    font-size: large;
    font-weight: bold;
}

#order-passport-link{
    color: #000000d4;
    font-size: large;
    font-weight: bold;
}

#order-actions-link{
    color: #000000d4;
    font-size: large;
    font-weight: bold;
}

#order-invoices-link{
    color: #000000d4;
    font-size: large;
    font-weight: bold;
}

#dashboard-menu-nav-order{
    padding: 0;
    font-size: inherit;
    text-align: inherit;
    border-radius: inherit;
    background-color: inherit;
    border-color: inherit;
}

#dashboard-menu-nav-action-new{
    padding: 0;
    font-size: inherit;
    text-align: inherit;
    border-radius: inherit;
    background-color: inherit;
    border-color: inherit;
}

#dashboard-menu-nav-card-edit{
    padding: 0;
    font-size: inherit;
    text-align: inherit;
    border-radius: inherit;
    background-color: inherit;
    border-color: inherit;
}

#dashboard-menu-nav-card-action-info{
    padding: 0;
    font-size: inherit;
    text-align: inherit;
    border-radius: inherit;
    background-color: inherit;
    border-color: inherit;
}

#dashboard-menu-nav-card-action-edit{
    padding: 0;
    font-size: inherit;
    text-align: inherit;
    border-radius: inherit;
    background-color: inherit;
    border-color: inherit;
}

#main-nav-link{
    color: #000000d4;
    text-decoration: none;
    padding: 5px 10px;
    font-size: small;
    text-align: left;
    border-radius: 0;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}

#users-nav-link{
     color: #000000d4;
     text-decoration: none;
     padding: 5px 10px;
     font-size: small;
     text-align: left;
     border-radius: 0;
     background-color: blanchedalmond;
     border-color: blanchedalmond;
 }

#managers-nav-link{
    color: #000000d4;
    text-decoration: none;
    padding: 5px 10px;
    font-size: small;
    text-align: left;
    border-radius: 0;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}

#user-nav-link{
    color: #000000d4;
    text-decoration: none;
    padding: 5px 10px;
    font-size: small;
    text-align: left;
    border-radius: 0;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}

#manager-nav-link{
    color: #000000d4;
    text-decoration: none;
    padding: 5px 10px;
    font-size: small;
    text-align: left;
    border-radius: 0;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}

#orders-nav-link{
    color: #000000d4;
    text-decoration: none;
    padding: 5px 10px;
    font-size: small;
    text-align: left;
    border-radius: 0;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}

#order-nav-link{
    color: #000000d4;
    text-decoration: none;
    padding: 5px 10px;
    font-size: small;
    text-align: left;
    border-radius: 0;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}

#action-new-nav-link{
    color: #000000d4;
    text-decoration: none;
    padding: 5px 10px;
    font-size: small;
    text-align: left;
    border-radius: 0;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}

#actions-nav-link{
    color: #000000d4;
    text-decoration: none;
    padding: 5px 10px;
    font-size: small;
    text-align: left;
    border-radius: 0;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}

#car-nav-link{
    color: #000000d4;
    text-decoration: none;
    padding: 5px 10px;
    font-size: small;
    text-align: left;
    border-radius: 0;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}

#edit-profile-nav-link{
    color: #000000d4;
    text-decoration: none;
    padding: 5px 10px;
    font-size: small;
    text-align: left;
    border-radius: 0;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}

#action-info-nav-link{
    color: #000000d4;
    text-decoration: none;
    padding: 5px 10px;
    font-size: small;
    text-align: left;
    border-radius: 0;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}

#action-edit-nav-link{
    color: #000000d4;
    text-decoration: none;
    padding: 5px 10px;
    font-size: small;
    text-align: left;
    border-radius: 0;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}

#dashboard-menu-card-body{
    margin: 200px 0 350px;
}

#personal-menu-card{
    border: 0;
}

#personal-menu-card-user{
    border: 0;
    padding-left: 150px;
}

#personal-menu-card-manager{
    border: 0 solid black;
    border-right-width: 1px;
    border-radius: 0;
    width: fit-content;
    padding-right: 150px;
}

#admin-menu-card{
    border-bottom-width: 0;
    border-left-width: 1px;
    border-right-width: 0;
    border-top-width: 0;
    border-radius: 0;
    border-color: #000000c2;
    margin-left: 0;
    padding-left: 200px;
}

#manager-menu-card{
    border: 0;
}

#car-menu-card{
    border: 0;
}

#manager-menu-card{
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 1px;
    border-top-width: 0;
    border-radius: 0;
    border-color: #000000c2;
}

#card-main-table{
    border: 0;
    margin-left: 20px;
    margin-top: 20px;
}

#delete-form{
    margin-bottom: 0;
}

#hide-form{
    margin-bottom: 0;
}

#personalSearch{
    margin-bottom: 0;
}

.col-menu{
    font-size: x-large;
    padding-right: 0;
    padding-left: 30px;
}

.row-menu{
    text-decoration: none;
    font-size: x-large;
    padding-bottom: 10px;
    color: #000000c2;
}

.custom-am{
    color: #000000c2;
    text-decoration: none;
    font-size: large;
    padding-left: 30px;
}

.custom-am:hover{
    color: #ffae00e0;
}

.table{
    vertical-align: middle;
}

button#dropdownMenuLink.btn.btn-primary.dropdown-toggle{
    background-color: #ff9900;
    border-color: #ffae00e0;
    color: #000000c2;
}

.table{
    word-break: break-word;
    width: 100%;
}

.btn{
    color: white;
    word-break: normal;
}

.btn-warning{
    color: white;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:focus{
    color: white;
    background-color: #ff9900;
    border-color: #ffc107;
}

.page-link{
    color: #ffae00e0;
}

.page-link:focus{
    color: #ff9900;
}

.page-link:hover{
    color: #ff9900;
}

.justify-content-between {
    justify-content: end;
}

#refresh{
    color: #ffae00e0;
}

#trash{
    color: #ffae00e0;
}

#new{
    color: #ffae00e0;
}

#actions-card-body{
    height: 720px;
}

#action-update-status{
    text-align: center;
    color: inherit;
    background: #ffae00e0;
    margin-top: 20px;
    margin-bottom: 20px;
}

#action-update-status-link{
    font-weight: bold;
    color: white;
}

#action-table-link{
    font-weight: bold;
    color: #000000c2;
}

#add-action{
    text-align: end;
    font-size: large;
    margin-right: 0;
    padding-right: 24px;
    padding-left: 0;
}